/*reset*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
  }
  
  /*valores globais*/
  :root{
    --alturaTarja:40px;
    --espacoComponente:10px;
    --espacoElemento:5px;
          /*cores*/
    --pPreto:#1C1C1C;
    --pBlue:#4682B4;
  }

.cadastroPrincipal{
  background-image: url('../img/bgCadastro.jpg');
  background-size:cover;
  background-position:center;
  padding-top:10vh;
  height:100vh;
  max-width:1200px;
}


/*Recipiente do cadastro*/
.rcpCadastro{
  background-color:#fff;
  border-radius:5px;
  margin:0 auto;
  max-width:330px;  
  padding-bottom:var(--espacoComponente);
}

.rcpTitulo{
  background-color:var(--pBlue);
  border-radius:5px 5px 0 0;
  height:var(--alturaTarja);
  margin-bottom:var(--espacoComponente);
  max-width:420px;
}

.rcpTitulo h2{
  line-height:var(--alturaTarja);
  margin-bottom:var(--espacoElemento);
  text-align:center;  
}

/*formularioCadastro*/
.formularioCadastro{
  align-items:center;
  display:flex;
  flex-direction:column;  
  margin:0 0 var(--espacoComponente) 0;
  padding: 0 30px;
}

.campo{
  border:none;
  display:flex;
  flex-direction:column;
  font-weight:bold;  
  width:100%;
}

.campo input{
  border-radius:3px;
  outline:none;
  padding: 2px 5px;
}

.msgErro{
  color:white;/* para manter o espaço e ficar invisivel*/
  font-size:5px;
  margin-bottom:var(--espacoComponente);
}

.btnCadastrar{
  background-color:var(--pBlue);
  border:none;
  border-radius:5px;
  color:#fff;
  padding:5px 15px;
  transition: background .5s;
}
  
.btnCadastrar:hover{
  background-color:#20527a;
}

/* mensagem de login*/
.msgLogin{ 
  padding:0 30px ;  
}
