/*reset*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
  }
  
  /*valores globais*/
  :root{
    --alturaTarja:40px;
    --espacoComponente:10px;
    --espacoElemento:5px;

    --espacamentoVertical:5px;
    --espacamentoLateral:15px;
          /*cores*/
    --pPreto:#1C1C1C;
    --pBlue:#4682B4;
  }



  /*-----Cabecalho-----*/
  .rcpCabecalho{
    background-color: var(--pBlue);
    color: var(--pPreto);
    padding: var(--espacamentoVertical) var(--espacamentoLateral);
    text-align:center;
  }

  .rcpMenuLinks{
    text-align:left;
  }

  .rcpMenuLinks ul{
    list-style:none;
  }

  .rcpMenuLinks__link{
    text-decoration:none;
    transition: color .5s;
  }

  .rcpMenuLinks__link:hover{
    color:white;
  }
/*-----fim Cabecalho-----*/

/*-----Principal------*/
.principal{ 
  display:flex; 
  background-color:bisque;
  max-width:1200px;
  width:100%  
}


/*-----SectAulas-----*/
.sctAulas{
  background-color:rgb(219, 204, 204);
  width:100%;
}

.sctAulas__titulo{
  text-align:center;
  
}



/*-----rcpAula-----*/
.rcpAula{
  max-width:1000px;
  width:100%; 
}
.rcpCamposAula{
  align-items:end;
  display:flex;
  justify-content: space-between;
  padding: var(--espacamentoVertical) var(--espacamentoLateral);
}

.rcpCamposAula__div{  
  display:flex;
  flex-direction: column;  
}

.rcpCamposAula__entrada{
  width:100px;  
}

.rcpCamposAula__entrada--aumentado{
  width:150px; 
}

.rcpAula__btnInformacoes{
  display:block;
  margin: 0 var(--espacamentoLateral);
  width:100%;
}

/*-----informações Aula-----*/
.rcpInformacoesAula{
  display:flex;
  justify-content:space-between;
  padding: var(--espacamentoVertical) var(--espacamentoLateral);
}

.rcpInformacoesAula__observacao{
  display:flex;
  flex-direction:column;
  margin-right:5px;
}

.rcpInformacoesaula-observacao__iptObservacao{
  height:200px;
  width:250px;
}


/*--------------artefatos-------------*/
.tabelaArtefatos__celula{
  border: 1px solid var(--pPreto);
  border-collapse:collapse;
  width:100px;
}

.tabelaArtefatos__celula--aumentada{
  border: 1px solid var(--pPreto);
  border-collapse:collapse;
  width:250px;
}

.tabelaArtefatos__celula--reduzida{
  border: 1px solid var(--pPreto);  
  border-collapse:collapse;
  width:30px;
}
