/*reset*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
  }
  
  /*valores globais*/
  :root{
    --alturaTarja:40px;
    --espacoComponente:10px;
    --espacoElemento:5px;

    --espacamentoVertical:5px;
    --espacamentoLateral:15px;
          /*cores*/
    --pPreto:#1C1C1C;
    --pBlue:#4682B4;
    --pCinza:#CDCDCD;
  }



  /*-----Cabecalho-----*/
  .rcpCabecalho{
    background-color: var(--pBlue);
    color: var(--pPreto);
    padding: var(--espacamentoVertical) var(--espacamentoLateral);
    text-align:center;
  }

  .rcpMenuLinks{
    text-align:left;
  }

  .rcpMenuLinks ul{
    list-style:none;
  }

  .rcpMenuLinks__link{
    text-decoration:none;
    transition: color .5s;
  }

  .rcpMenuLinks__link:hover{
    color:white;
  }
/*-----fim Cabecalho-----*/

/*-----Principal------*/
.principal{ 
  display:flex; 
  background-color:bisque;
  max-width:1200px;
  width:100%  
}


/*-----SectAulas-----*/
.sctAulas{
  background-color:white;
  padding:0 var(--espacamentoLateral);
  width:100%;
}

.sctAulas__titulo{
  text-align:center;
  
}



/*-----rcpAula-----*/
.rcpAula{
  background-color:var(--pCinza);
  border: 1px solid var(--pPreto);
  border-radius:5px;
  margin-bottom: var(--espacoElemento);
  max-width:1000px;
  padding:var(--espacamentoVertical) 0;
  width:100%; 
}
.rcpCamposAula{
  align-items:end;
  display:flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding: var(--espacamentoVertical) var(--espacamentoLateral);
}

.rcpCamposAula__div{  
  display:flex;
  flex-direction: column; 
  margin:var(--espacoElemento);
}

.rcpCamposAula__entrada{
  width:100px;  
}

.rcpCamposAula__entrada--aumentado{
  width:150px; 
}

.rcpAula__btnInformacoes{
  display:block;  
  width:100%;
}

.rcpAula__btnInformacoes img{
  height:24px;
}

/*-----informações Aula-----*/
.rcpInformacoesAula{
  display:flex;
  flex-wrap: wrap;
  justify-content:flex-start;  
  padding: var(--espacamentoVertical) var(--espacamentoLateral);
}

.rcpInformacoesAula__observacao{
  display:flex;
  flex-direction:column;
  margin-right:var(--espacoComponente);
}

.rcpInformacoesaula-observacao__iptObservacao{
  height:200px;
  width:250px;
}


/*--------------tabelaArtefatos-------------*/
.tabelaArtefatos{
  border-collapse: collapse;  
  margin-top: var(--espacoElemento);
}

.tabelaArtefatos__titulo{
  background-color:var(--pBlue);
  border: 1px solid var(--pPreto);
  padding:2px; 
}

.tabelaArtefatos__celula{
  border: 1px solid var(--pPreto);    
  width:100px;
  padding:2px; 
}
  
.tabelaArtefatos__celula--aumentada{
  border: 1px solid var(--pPreto);    
  width:250px;
  padding:2px; 
}
  
.tabelaArtefatos__celula--reduzida{
  border: 1px solid var(--pPreto);   
  width:32px;
  padding:2px; 
}

.tabelaArtefatos-celula__icone{
  display:block;
  margin:0 auto;   
  width:24px;
}

.btnAdicionarArtefatos{
  background-color:transparent;
  border:none;
  display:block;
  margin: var(--espacoElemento) auto;
}

.btnAdicionarArtefatos img{
  width:36px;
}

/*-----ManterAula*/
.rcpManterAula{  
  display:block;
  margin: var(--espacoElemento) auto;
  width: 205px;
}

.rcpManterAula__botao{  
  border-radius: 5px;
  color:var(--pPreto);
  margin: 0 5px;
  padding: 2px;
  transition: color 0.5s;
  width: 90px;
}

.rcpManterAula__botao:hover{
  color:white;
}

.rcpManterAula__botao--verde{
  background: #07d607;
}

.rcpManterAula__botao--vermelho{
  background-color: #cc0707;
}

/*-------fim rcp Aula-------*/


/*------sct__btnAdicionarAula-----*/
.sctAulas__btnAdicionarAula{
  display:block;
  margin: var(--espacoComponente) auto;
}

.sctAulas__btnAdicionarAula img{
  height:36px;
}

